/* css generale */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* caratteristiche dei div*/

.party, .not_party{
    display: none;
}

/* classe da aggiungere con JS a seconda della condizione */
.show{
    display: block;
}